body{
    width: 1500px;
    height: 1900px;
    background-color: black;
}
header{
    margin-top: -90px;
    margin-left: -8px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 6%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.im{
width: 200px;
height: 55px;
}
.iim{
    width: 60px;
    height: 55px;
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.808);
    font-weight: 650;
    font-size: 1.3em;
    margin: 10px;
    background-color: rgb(0, 0, 0);
}
a:hover{
    color: red;
}
table{
    display: block;
    width: 100%;
    justify-content: center;
    border: 1px solid;
    margin-left: 600px;
    margin-top: 90px;
    }
    th{
        color: rgb(255, 187, 0);
        font-weight: 900;
        font-size: 50px;
    background-color: rgb(255, 0, 0);
    height: 90px;
    }
    tr{
        color: crimson;
        font-weight: 700;
        font-size: 30px;
    background-color: #ffe600;
    
    }
    td {
      text-align: center;
      height: 50px
      }
      tr:hover{
          background-color:brown;
      }
      .g{
          align-items: center;
          flex-direction: column;
          display: flex;
          width: 1300px;
          height: 690px;
        border:1px solid #ffe600;
      }
      .n1{
          color: #ffe600;
          font-size: 50px;
          font-weight: 600;

      }
      .gg{
          color: #ffe600;
          font-size: 40px;
          font-weight: 500;
      }
      .g:hover{
          background-color: crimson;
          transform: scale(1.011111);
          transition: 0.9s ease;
      }
      .v{
        align-items: center;
        flex-direction: column;
        display: flex;
        width: 900px;
        height: 690px;
      border:1px solid #ffe600;
      }
      .v:hover{
        background-color: crimson;
        transform: scale(1.011111);
        transition: 0.9s ease;
      }
    .h{
        display: flex;
        flex-direction: row;
    }
    .n2{
        color: #ffe600;
        font-size: 30px;
        font-weight: 400px;
        text-align: right;
        padding-left: 2%;
    }
    .btn{
        position: absolute;
        margin-left: 750px;
        background-color: crimson;
        text-decoration: none;
        font-weight: bold;
        font-size: 30px;
        color:#ffe600;
        display: inline-block;
        border-radius: 15px;
        transition: 0.8s ease;
        justify-content: center;
        }
        .btn:hover{
            background-color: rgb(255, 0, 0);
            transform: scale(1.2);
        }
        .taskbar{
            position: absolute;
            list-style-type: none;
            padding: 0px;
            width: 10%;
            background-color: black;
            height: 600px;
            overflow: auto;
            margin-top: -50px;
        }
        li a{
            display: block;
            color: white;
            padding: 5px 16px;
            text-decoration: none;
        }
        li a.active{
           /* background-color: black;*/
            color: white;
        }
        li a:hover:not(.active){
            background-color: aliceblue;
            color: white;
        }