html{
}
body{
    background-color: black;
    width: 1400px;
    height: 800px;
}
header{
    margin-top: 0px;
    margin-left: -8px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 6%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .im{
        width: 200px;
        height: 55px;
    }
    .navigation a{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.808);
        font-weight: 650;
        font-size: 1.3em;
        padding-left: 10px;
        margin: 0;
        background-color: rgb(0, 0, 0);
    }
    .navigation a:hover{
        color: rgb(18, 3, 231);
    }
    section{
        padding: 100px 100px;
    }
    .main{
        background-color: black;
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        margin-top: -10px;
    }
    h2{
        color: rgb(251, 244, 255);
        font-size: 80px;
        font-weight: 900;
        display: flex;
        justify-content: center;
    }
    h3{
        color: rgb(255, 246, 246);
        font-size: 60px;
        font-weight: 900;
        display: flex;
        justify-content: center;
    }
    .main-btn{
        background-color: crimson;
        text-decoration: none;
        font-weight: bold;
        font-size: 30px;
        color: aliceblue;
        display: inline-block;
        border-radius: 15px;
        transition: 0.8s ease;
        justify-content: center;
        }
        .main-btn:hover{
            background-color: rgb(255, 0, 0);
            transform: scale(1.2);
        }
        .a{
            background-color: rgb(0, 0, 0);
            align-items: center;
        }
        .b{
            margin-top: 0;
            background-color: black;
            display: flex;
      justify-content: center;
      font-size: 40px;
      font-weight: 800; 
      margin-top: -290px;
        }
        table{
            justify-content: center;
            width: 1900px;
            border: 1px solid;
            margin-left: -10px;
            }
            th{
                font-weight: 900;
                font-size: 50px;
            background-color: blue;
            height: 80px;
            }
            tr{
                font-weight: 700;
                font-size: 30px;
            background-color: #c15bff;
            
            }
            td {
              text-align: center;
              height: 50px
              }
              .c{
                  align-items: center;
                  margin-left: 400px;
                  margin-bottom: 40px;
                  justify-items: center;
                  background-color: rgb(0, 0, 0);
                  border: 10px solid red;
                  width: 700px;
                  height: 500px;
                  border-radius: 30px;
              }
              tr:hover{
                  background-color: aquamarine;
              
                }
                .one{
                    display: inline-flex;
                    flex-direction: row;
                }
                .e{
                    width: 500px;
                    background-color: black;
                    display: inline-flex;
                    flex-direction: column;
                    justify-items: right;
                }
             .q{
                 color: rgb(255, 255, 255);
                 font-weight: 700;
                 font-size: 80px;
             }
             .w{
                 color: aliceblue;
                 font-size: 60px;
                 font-weight: 60;
             }
             .e:hover{
                 transform: scale(1.1);
                 transition: 0.9s ease;
             }
             .three{
                 width: 650px;
                background-color: black;
                display: inline-flex;
                flex-direction: column;
                justify-items: right;  
             }
             .qq{
                color: rgb(255, 255, 255);
                font-weight: 700;
                font-size: 80px;  
             }
             .ww{
                 
                color: aliceblue;
                font-size: 60px;
                font-weight: 60;
             }
             .three:hover{
                 
                transform: scale(1.1);
                transition: 0.9s ease;
             }
             .four{
                width: 770px;
                background-color: black;
                display: inline-flex;
                flex-direction: column;
                justify-items: right;
             }
             .qqq{
                color: rgb(255, 255, 255);
                font-weight: 700;
                font-size: 70px;
             }
             .www{
                color: aliceblue;
                font-size: 60px;
                font-weight: 60;
             }
             .four:hover{
                   
                transform: scale(1.1);
                transition: 0.9s ease;
             }
             .taskbar{
                position: absolute;
                list-style-type: none;
                padding: 0px;
                width: 20%;
                background-color: black;
                height: 600px;
                overflow: auto;
                margin-top: -50px;
                font-size: 20px;
            }
            li a{
                display: block;
                color: white;
                padding: 5px 16px;
                text-decoration: none;
            }
            li a.active{
                color: white;
            }
            li a:hover:not(.active){
                background-color: aliceblue;
                color: white;
            }